
@{
    ViewData["Title"] = "Rejectedstatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>This Email is cannot access the seervices,it has been rejected.<br />Please Login With Different</h1>


